body{
	background-color: snow;
}
#cartel{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
	margin-bottom: 10px;
	width: 80%;
	height: 80%;
	border-radius: 10px;
}
h1{
	font-size: 25px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	text-align: center;
}
h2{
	font-size: 20px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	text-align: center;
}
#formResult{
	font-size: 15px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	height: 100%
}
#header{
	background-color: gold;
	width: 100%;
	height: 15px;

}
#score{
	margin-top: 50px;
}
#wrapper{
	height: 600px;
	width: 100%;
}
#btnSend{
	width: 100%;
}